build/**/CMakeFiles
build/**/Makefile
build/**/cmake_install.cmake
build/CMakeCache.txt
build/centengine
build/centenginestats
build/install_manifest.txt
build/libcce_core.a
build/modules/external_commands/externalcmd.so
build/tests/googletest/*.a
build/tests/ut
build/test-coverage/*
conf/centengine.cfg
conf/objects/*.cfg
conf/resource.cfg
inc/com/centreon/engine/version.hh
inc/compatibility/common.h
inc/compatibility/locations.h
scripts/centengine.pc
scripts/centengine.sh
