*.swp
.idea/*
build/*
conf/centengine.cfg
conf/objects/*.cfg
conf/resource.cfg
doc/_build
inc/com/centreon/engine/version.hh
inc/compatibility/common.h
inc/compatibility/locations.h
scripts/centengine.pc
scripts/centengine.sh
src/simumod/neb.cc
tags
gtest.cbp
CMakeFiles/*
cmake-build-debug/*
modules/bench/passive/paths.hh
