<?xml version="1.0" encoding="UTF-8"?>
<webservice>
  <host>127.0.0.1</host>
  <port>4040</port>
  <recv_timeout>5000</recv_timeout>
  <send_timeout>5000</send_timeout>
  <accept_timeout>5000</accept_timeout>

  <ssl>
    <enable>false</enable>
    <keyfile>keyfile</keyfile>
    <cacert>certif</cacert>
    <dh>dhfile</dh>
    <password>password</password>
  </ssl>
</webservice>
